.profil {
    width: 150px;
    height: 150px;
}

.phone .send{
    width: 15px;
    height: 15px;
}

.map {
    width: 25px;
    height: 25px;
}

h6 {
    color: white;
}

h3 {
    color: white;
}

li {
    color: white;
}